#grid{
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap:10;
}

#header-box {
    -fx-background-color: #808080;
    -fx-padding: 0px 10px 0px 10px;
}

#button-box {
    -fx-background-color: #EEEEEE;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center_right;
}

#big-text {
    -fx-font-size: 24pt;
    -fx-text-fill: #FFFFFF;
}

#progress-vbar {
    -fx-background-color: #bbbdbb;
    -fx-max-width: 125;
    -fx-min-width: 125;
}

#progress-grid {
    -fx-padding: 10;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

#error-text {
    -fx-text-fill: red;
    -fx-alignment: center;
    -fx-min-width: 50;
}